name: Build and deploy Node.js app to Azure Web App - monopoly-service-gao4

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm ci

      
      - name: Build (if present)
        run: npm run build --if-present

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: monopoly-service-gao4
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_MONOPOLYSERVICEGAO4 }}
          package: .


          
